body{
    background-color: rgb(255,255,255);
}

.accordion {
    color: black;
    background-color: rgb(255,255,255);
    border-radius: 3em;
}

.accordion-content {
    display: none;
}

.accordion-header {
        cursor: pointer;
        background-color: rgb(18, 175, 146);
        transition: all 0.3 ease-out;
        border-radius: 3em;
}
.accordion-header,h4{
                color:white;
            }

#title{
    color:rgb(0,0,0);
}